#productalertsystem #env
DB_HOST=db
DB_NAME=pas
DB_USER=root
DB_PASSWORD=password
DB_PORT=3306
CACHE_HOST=cache
CACHE_PORT=6379
MYSQL_ROOT_PASSWORD=password
MYSQL_DATABASE=pas
MYSQL_USER=pas
MYSQL_PASSWORD=pas
DATABASE_URL="mysql://root:password@db:3306/pas"
PRODUCT_COUNT=500
# Standardization Service
SS_PORT=3000
SS_HOST=ss
# Alert Service
AS_PORT=4444
# Data source
DS_HOST=ds
DS_PORT=8888
ALLOW_ANONYMOUS_LOGIN=yes
KAFKA_ZOOKEEPER_CONNECT="zookeeper:2181"
KAFKA_CREATE_TOPICS="kafka_capstone_event_bus:1:1"
KAFKA_CFG_AUTO_CREATE_TOPICS_ENABLE=true
KAFKA_CFG_LISTENER_SECURITY_PROTOCOL_MAP="CLIENT:PLAINTEXT,EXTERNAL:PLAINTEXT"
KAFKA_CFG_LISTENERS="CLIENT://:9092,EXTERNAL://:9093"
KAFKA_CFG_ADVERTISED_LISTENERS="CLIENT://kafka:9092,EXTERNAL://localhost:9093"
KAFKA_INTER_BROKER_LISTENER_NAME=CLIENT
ALLOW_PLAINTEXT_LISTENER=yes
KAFKA_BROKERCONNECT="kafka:9092"
JVM_OPTS="-Xms16M -Xmx48M -Xss180K -XX:-TieredCompilation -XX:+UseStringDeduplication -noverify"
KAFKA_TOPIC="products"
KAFKA_BOOTSTRAP_SERVERS="kafka:9092"
KAFKA_HOST="kafka"
KAFKA_PORT=9092
EVENT_GENERATION_INTERVAL=10
MAX_PRICE_CHANGE=50