#productalertsystem #env
DB_HOST
DB_NAME
DB_USER
DB_PASSWORD
DB_PORT
CACHE_HOST
CACHE_PORT
MYSQL_ROOT_PASSWORD
MYSQL_DATABASE
MYSQL_USER
MYSQL_PASSWORD
DATABASE_URL
PRODUCT_COUNT
# Standardization Service
SS_PORT
SS_HOST
# Alert Service
AS_PORT
# Data source
DS_HOST
DS_PORT
ALLOW_ANONYMOUS_LOGIN
KAFKA_ZOOKEEPER_CONNECT
KAFKA_CREATE_TOPICS
KAFKA_CFG_AUTO_CREATE_TOPICS_ENABLE
KAFKA_CFG_LISTENER_SECURITY_PROTOCOL_MAP
KAFKA_CFG_LISTENERS
KAFKA_CFG_ADVERTISED_LISTENERS
KAFKA_INTER_BROKER_LISTENER_NAME
ALLOW_PLAINTEXT_LISTENER
KAFKA_BROKERCONNECT
JVM_OPTS
