DB_HOST
DB_NAME
DB_USER
DB_PASSWORD
DB_PORT
CACHE_HOST
CACHE_PORT
QUEUE_HOST
QUEUE_PORT
KAFKA_BROKER_ID
KAFKA_ZOOKEEPER_CONNECT
KAFKA_LISTENER_SECURITY_PROTOCOL_MAP
KAFKA_ADVERTISED_LISTENERS
KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR
KAFKA_TRANSACTION_STATE_LOG_MIN_ISR
KAFKA_TRANSACTION_STATE_LOG_REPLICATION_FACTOR
ZOOKEEPER_CLIENT_PORT
ZOOKEEPER_TICK_TIME
MYSQL_ROOT_PASSWORD
MYSQL_DATABASE
MYSQL_USER
MYSQL_PASSWORD
DATABASE_URL
SS_PORT